/* Основное содержание документа */

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f6f6f6;

	padding: 50px 0 95px 0;
}

.content .wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.content .main {
	width: 724px;
	order: 3;
}

/* Блок иллюстрированных категорий */

.content .main .categories {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.content .main .category {
	margin-left: 32px;
	margin-bottom: 53px;
}

.content .main .category:nth-child(3n-2) {
	margin-left: 0;
}

.content .main .category a {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: #0066cc;
	text-decoration-color: #0066cc;
}

.content .main .category img {
	border: 5px solid #666666;
	margin-bottom: 12px;
}

.content .main .category span {
	display: block;
	height: 15px;

	font-size: 15px;
	color: inherit;
}

/* Блок с текстом */

.content .main article {
	font-size: 12px;
	line-height: 1.231;
	color: #666666;
	text-align: justify;
}

.content .main h2 {
	font-size: 13px;
	font-weight: bold;
	margin-top: 20px;
}

.content .main p {	
	margin-top: 12px;
}

/* Сайдбар: неиллюстрированный каталог и блок новостей */

.content .sidebar {
	width: 175px;
}

.content .sidebar .catalog  {
	margin-bottom: 74px;
}

.content .sidebar .catalog h2, 
.content .sidebar .news h2{
	font-size: 17px;
	color: #cc3300;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 27px;
}

.content .sidebar .catalog a {
	font-size: 13px;
	line-height: 2.231;
	color: #0066cc;
}

.content .sidebar .news a {
	font-size: 13px;
	color: #0066cc;
	line-height: 1.2;
}

.content .sidebar .news h2 {
	color: #009966;
}

.content .sidebar .news-list-item a {
	color: #0066cc;
	font-size: 11px;
}

.content .sidebar .news-list-item span {
	position: relative;
	display: block;
	color: #666666;
	font-size: 10px;
	margin: 8px 0 30px 0;
}

.content .sidebar .news-list-item span::after {
	position: absolute;
	content: "";
	bottom: -16px;
	left: 0;
	width: 140px;
	height: 0px;
	border: 1px solid #dadada;
}

.content .sidebar .news-list-item:last-child span::after {
	border: none;
}

/* Дополнительные элементы */

.content .main .category a:hover,
.content .sidebar a:hover {
	color: #0099ff;
	text-decoration-color: #0099ff;
}

.content .main .category a:hover img {
	border-color: #00cc33;
}