/* Хэдер страницы */
.page-header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	/* Реализация фона с помощью повторяющихся градиентов */
	background: linear-gradient(-45deg, #444 35%, #000000 35%, #000000 65%, #444 65%);
	background-size: 0.5em 0.5em;
	background-position: -4px -6px;
}

/* Плохой способ сделать градиент на всю шапку: ухудшается работа с инструментом разработчика в браузере, появляется необходимость вводить индесацию элементов (z-index), т.к. почему-то градиент влияет на все дочерние элементы, а не только на фон родительского */

.page-header::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.05) 100%);
}

/* Верхняя часть хэдера 
 z-index'ы нужны для корректной работы закомментированного градиента */
.page-header .header-top {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 15px 0 9px 0;
	width: 100%;
	position: relative;
	z-index: 1;

	color: #e7eeef;
}

.page-header .header-top .header-logo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 0 10px 0 auto;

	height: 199px;
	width: 207px;

	border: 1px solid #777;
	border-radius: 17px;
	background-color: rgb(8, 8, 8);
	box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 1);

	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 0.75;
	font-weight: 100;
}

.page-header .header-top .header-logo img {
	margin: 42px 50px 24px 63px;
}

.page-header .header-top .header-logo span {
	margin-bottom: auto;
	padding: 0 1px 0 1px;
}

.page-header .header-top .company-info {
	position: relative;
	border: 1px solid #777;
	border-radius: 17px;
	/*border-image: linear-gradient(to bottom, #888888 0%, #969696 61%, #525252 69%, #575757 100%);*/
	
	margin-right: auto;
	border-image-slice: 1;

	/*very bad idea*/
	width: 724px;
	background: rgb(8, 8, 8) url(../img/contacts-bg.jpg) no-repeat;

	box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 1), inset 0px 0px 73px 0px rgba(0, 0, 0, 0.4);
}

.page-header .header-top .company-info b {
	line-height: 44px;
	font-size: 23.6px;
	font-style: italic;
	letter-spacing: -1px;
	display: flex;

	/* bad idea */
	width: 405px;

	position: absolute;
	right: 0;
	top: 12px;

	padding-left: 31px;
	padding-bottom: 4px;

	border-radius: 17px 0 0 17px;
	background: rgba(0,0,0,0.5);
}

.page-header .header-top .company-info .contacts {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	line-height: 43px;

	/* bad idea */
	width: 320px;

	left: 3px;
	padding: 0 36px 0 27px;

	bottom: 7px;
	border-radius: 0 17px 17px 0;
	background: rgba(0,0,0,0.5);
}

.page-header .header-top .company-info .contacts a:nth-child(1) {
	text-decoration: none;
	color: inherit;
	font-size: 14px;
}

.page-header .header-top .company-info .contacts a:nth-child(2) {
	text-decoration: none;
	color: inherit;
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: 18px;
}

/* Строка состояния пользователя */

.page-header .user-info {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 9px;
	position: relative;
	z-index: 1;

	font-size: 12px;
	color: #ffffff;
	width: 941px;

	/* Реализация фона с помощью повторяющихся элементов */
	background: linear-gradient(-45deg, #00282f 15%, #000000 15%, #000000 35%, #00282f 35%, #00282f 65%, #000000 65%, #000000 85%, #00282f 85%);
	background-size: 0.4em 0.4em;

	height: 34px;
	line-height: 34px;

	border: 1px solid #525252;
	border-radius: 17px;
	box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 1), inset 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.page-header .user-info form {
	display: flex;
	flex-direction: row;

	margin-left: 22px;

	font-family: "Tahoma", sans-serif;
}

.page-header .user-info label {
	font-weight: lighter;
	margin: 0 7px 0 0px;
}

.page-header .user-info input[type="text"],
.page-header .user-info input[type="password"] {
	font-size: 12px;
	border: none;
	border-radius: 5px;
	padding: 0 6px 2px 6px;
	width: 104px;
	height: 20px;
	margin: 7px 21px 5px 0;
	background-image: -moz-linear-gradient( -90deg, rgb(206,206,206) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(206,206,206) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(206,206,206) 0%, rgb(255,255,255) 100%);
	outline: none;
}

.page-header .user-info input[type="text"]:placeholder-shown,
.page-header .user-info input[type="password"]:placeholder-shown {
	background-image: -moz-linear-gradient( 90deg, rgb(83,83,83) 0%, rgb(134,134,134) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(83,83,83) 0%, rgb(134,134,134) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(83,83,83) 0%, rgb(134,134,134) 100%);
	outline: none;
}

.page-header .user-info input[type="text"]:focus,
.page-header .user-info input[type="password"]:focus {
	background-image: -moz-linear-gradient( -90deg, rgb(206,206,206) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(206,206,206) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(206,206,206) 0%, rgb(255,255,255) 100%);
	outline: none;
}

.page-header .user-info input[type="submit"],
.page-header .user-info form + a {
	border: none;
	background: none;
	color: inherit;
	text-decoration: underline;
	font-weight: bold;
	font-size: 12px;

	padding: 0;
	margin: 0 14px 0 -7px;
}

.page-header .user-info form + a {
	padding: 0;
	margin: 2px 252px 0 13px;
}

.page-header .user-info .cart-label {
	font-family: "Arial", sans-serif;
	font-weight: normal;
	position: relative;
	margin: 12px 28px 8px 0;
}

.page-header .user-info .cart-label::before {
	content: "";
	position: absolute;
	left: -28px;
	top: 6px;

	background: url(../img/cart-icon.png);
	width: 20px;
	height: 19px;
}

.page-header .user-info .cart-label a {
	color: inherit;
}

.page-header .user-info .cart-label span {
	font-weight: bold;
}

/* Навигационная панель хэдера */

.page-header .header-nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../img/header-nav-bg.jpg) repeat-x;
	position: relative;
	z-index: 1;
	
	box-shadow: 
		0px 7px 40px -5px rgba(0, 0, 0, 0.7),
		inset 0px 3px 5px 0px rgba(0, 0, 0, 0.4),
		inset 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}

.page-header .header-nav ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	list-style: none;
	padding: 0 0 0 23px;
}

.page-header .header-nav li {
	margin-right: 84px;
}

.page-header .header-nav li:last-child {
	margin-right: 0;
}

.page-header .header-nav a {
	font-size: 16px;
	color: #ffffff;
	line-height: 48px;
	text-decoration: none;

	border-bottom: 1px solid #fff;
}

/* Дополнительные элементы */

.page-header .wrapper .header-top .company-info .contacts a:hover,
.page-header .user-info a:hover,
.page-header .header-nav a:hover,
.page-header .user-info input[type="submit"]:hover {
	color: #ffcc00;
	cursor: pointer;
}